body {
	background:#809DA8;
	color: black;
}


.cover-heading {
	font-size: 400%;
	text-align: center;
	padding-bottom: 20px;
}

hr.new1 {
	border-top: 2px solid black;
	margin-top: 5px;
	margin-bottom: 9px;
}

hr.new2 {
	border-top: 2px solid black;
	margin-top: 5px;
	margin-bottom: 9px;
}

.nav-link {
	color: black;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 120%;
	
	
}

.etusivu {
	padding-top:26px;
	padding-right:16px;
}

h1 {
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}
h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}

.row {
	padding-bottom: 20px;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
	
}

thead {
	background:#4F6A75;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}

tbody {
	background:#DEE6E9;	
}

.table td, .table th {
	border-top:1px solid #152126;
}
.table thead th {
	
border-bottom: 1px solid #152126;

}

td, th {
  border: 1px solid #152126;
}

footer {
	padding-top: 50px;
	padding-bottom:50px;
	background: transparent;
}

.keskitetty {
	text-align: center;
}

p {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

.navbar-collapse {
	
	text-align: center;
}

.navbar-expand-sm {
	paddin-top: 50px;
}

.esimerkki1 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #152126;
  margin-bottom:30px;
  background:#4F6A75;
  
}

#esimerkki2 {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #152126;
margin-top:23px;
  margin-bottom:30px;
  background:#4F6A75;
  
}

.carousel-caption{
	color: #152126;
	font-size: 120%;
	margin-top:-50px;
	
}

a:link {
transition: 1s;
color: black;
}


a:hover {
color: hsl(197, 19%, 38%);
}

@media (max-width: 575.98px) {
  body {
    background-color: #a4b9c1;
  }
  
  hr.new2 {
	border-top: 2px solid transparent;
  }
  
  .piilotus {
	display:none;
  }
 
  
  .cover-heading {
	font-size: 380%;
	text-align: center;
	padding-bottom: 20px;
}
}

mark {
	background:#DEE6E9;
	
}


.question{
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
}
.answers {
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
}
.answers label{
  display: block;
}
#submit{
	margin-left: 15px;
}

#quiz{
		margin-top: 30px;
}

button {
	font-family: 'Lato', sans-serif;
}